:root
{
    --primary: #3399ff;
}

#board {
    width: 85vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    background: radial-gradient(circle, #ccc 1px, transparent 1px);
    background-size: 20px 20px;
}

#boardContent {
    width: 1000px; /* Large size for virtual board */
    height: 1000px; /* Large size for virtual board */
    transform-origin: top left; /* Transform relative to top-left */
    position: relative; /* Positioning context */
    top: 200px;
    left: 200px;
    user-select: none;
}

.sekcja {
    width: 100%;
    background: white;
    border: solid 1px silver;
    margin-bottom: 15px;
    border-radius: 5px;
}

.sekcja-head {
    background: var(--primary);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 1.5em;
}

.sekcja-body {
    background: white;
    padding: 15px;
}
