:root
{
    --primary: #3399ff;
}

#board {
    width: 85vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    transform-origin: center;
    background: radial-gradient(circle, #ccc 1px, transparent 1px);
    background-size: 20px 20px;
}

.sekcja {
    background: white;
    border: solid 1px silver;
    margin-bottom: 15px;
    border-radius: 5px;

}

.sekcja-head {
    background: var(--primary);
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 1.5em;
}

.sekcja-body {
    background: white;
    padding: 15px;
}

input[type="text"], textarea {
    border: 1px;
}
