#board {
    width: 85vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    transform-origin: center;
}

#boardContent {
    width: 7680px;
    height: 4320px;
    transform-origin: top left;
    background: radial-gradient(circle, #ccc 1px, transparent 2px);
    background-size: 40px 40px;
    position: absolute;
}
