<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Mind map</title>
  <script src="../assets/js/main.js"></script>
  <link href="../assets/css/main.css"  rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../resources/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="main d-inline-flex">
      <div class="col-2" id="sideNav">
        <div class="col-12">
          <p class="subTitle">Cards</p>
          <p id="addCard" class="btn btn-outline-primary">Add card</p>
        </div>
      </div>
      <div id="board">
      </div>
    </div>
  </div>
</div>
</body>
</html>
