<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Mind map</title>
  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/main.js"></script>
  <link href="../assets/css/main.css"  rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../resources/icon.png">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="main d-inline-flex">
      <div class="col-2" id="sideNav">

      </div>
      <div id="board">
        <div id="boardContent"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
